<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>로그인 <%=text%></h1>
    <button type="button" onclick="logou()">로그아웃</button>
  </body>
  <script>
    async function logou() {
      console.log("클릭");
      try {
        const response = await axios({
          method: "post",
          url: "/logout",
        });
        document.location.href = "/";
      } catch (error) {
        console.log(error);
      }
    }
  </script>
</html>
