<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h2>GET 요청</h2>
    <form action="/login" method="get">
      <label for="id">ID</label>
      <input type="text" name="id" id="id" />

      <label for="pw">PW</label>
      <input type="password" name="pw" id="pw" />

      <input type="text" name="email" id="email" />
      <input type="number" name="grade" />
      <button>제출</button>
    </form>
    <h2>POST 요청</h2>
    <form action="/login" method="post">
      <label for="id">ID</label>
      <input type="text" name="id" id="id" />

      <label for="pw">PW</label>
      <input type="password" name="pw" id="pw" />

      <input type="text" name="email" id="email" />
      <input type="number" name="grade" />
      <button>제출</button>
    </form>
  </body>
</html>
