@font-face {
  font-family: "Tenada";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.google {
  font-family: "Playwrite CU", cursive;
}
.nunun {
  font-family: "Tenada";
}

#box {
  background-color: orange;
  width: auto;
  height: 200px;
}

#box div {
  width: 200px;
  height: 100px;
  display: inline-block;
}

#box div:nth-child(1) {
  background-color: aliceblue;
}
#box div:nth-child(2) {
  background-color: green;
  margin: 0 30px;
}
#box div:nth-child(3) {
  background-color: red;
}

.border {
  width: 100px;
  height: 200px;
  border-width: 1px 2px 3px 4px;
  border-style: solid dashed dotted;
  border-color: red violet black blue;
  border-top: 1px solid red;
  border-radius: 5px 10px 0px 5vw;
}

.contentbox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 15px solid red;
  background-color: orange;
}

.borderbox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 15px solid red;
  background-color: orange;
}
.display {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
.display:hover {
  background-color: rgba(0, 0, 0, 0);
}
