/* --- 기본(단일) 선택자 */
/* 태그 선택자 : 태그 이름 사용*/
li {
  color: red;
}
/* class 선택자 :.class 이름*/
.orange {
  color: orange;
}
/* id 선택자 : #id 이름 */
#blue {
  color: blue;
}

/* ---복합 선택자 --- */
/* 일치 선택자: 선택자선택자 */
span.orange {
  background-color: yellow;
}
/* 자식 선택자:선택자 > 선택자 */
ul > .orange {
  background-color: red;
}
/* 하위 선택자: 선택자 선택자 */
div .orange {
  text-decoration: line-through;
}
/* 인접형제 : 선택자 + 선택자 */
.orange + li {
  color: gold;
}
/* 일반 형제 선택자 : 선택자 ~ 선택자 */
.orange ~ li {
  background-color: aqua;
}

/* 가상클래스 */
/* hover: 마우스를 올리고 있는 동안 */
a:hover {
  color: aliceblue;
  background-color: black;
}
/* active:클릭하고 있는동안 */
a:active {
  background-color: red;
}
/* focus: 포커스가 있는 동안 */
input:focus {
  background-color: grey;
}

/* firstchild : ABC가 형제 요소 중 (첫째라면!!!!!!) 선택  */
.fruits span:first-child {
  color: red;
}

.fruits div:first-child {
  color: red;
}

/* last-child: ABC가 형제 요소 중 막내라면 선택 */
.fruits h3:last-child {
  color: green;
}

.fruits *:nth-child(2n) {
  background-color: aqua;
}
.fruits *:nth-child(2n + 1) {
  background-color: yellow;
}

/* not: ABC가 아닌 나머지 요소 선택 */
.fruits *:not(span) {
  text-decoration: line-through;
}

/* 가상 요소 선택자 */
/* before: 요소 앞에 */
.fruits::before {
  content: "과일 목록 시작!";
}
.fruits::after {
  content: "과일 목록 끝!";
}

/* 속성 선택자 */
[readonly] {
  background-color: lightgrey;
}

input:not([placeholder]) {
  background-color: blue;
}
